# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output and cache
/.next/
/out/

# Production build artifacts (optional, adjust if needed)
# /build

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# Optional ESLint cache
.eslintcache

# Optional Prettier cache
.prettiercache

# Environment variables
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS specific files
.DS_Store
public/generated/image_2025-05-15T16-06-52-480Z_A_hyperrealistic_portrait_of_a.json
public/generated/image_2025-05-15T16-06-52-480Z_A_hyperrealistic_portrait_of_a.png
public/generated/image_2025-05-15T16-09-47-567Z_A_captivating_portrait_of_a_wo.json
public/generated/image_2025-05-15T16-09-47-567Z_A_captivating_portrait_of_a_wo.png
public/generated/image_2025-05-15T16-12-38-653Z_A_stunning_anime_style_portrai.json
public/generated/image_2025-05-15T16-12-38-653Z_A_stunning_anime_style_portrai.png
public/generated/image_2025-05-15T16-19-20-592Z_Putin__A_powerful_portrait_of_.json
public/generated/image_2025-05-15T16-19-20-592Z_Putin__A_powerful_portrait_of_.png
public/generated/image_2025-05-15T16-24-52-436Z_A_realistic_portrait_of_Vladim.json
public/generated/image_2025-05-15T16-24-52-436Z_A_realistic_portrait_of_Vladim.png
public/generated/image_2025-05-15T16-25-46-181Z_A_realistic_portrait_of_Vladim.json
public/generated/image_2025-05-15T16-25-46-181Z_A_realistic_portrait_of_Vladim.png
public/generated/image_2025-05-15T16-32-36-028Z_A_striking_portrait_of_a_gothi.json
public/generated/image_2025-05-15T16-32-36-028Z_A_striking_portrait_of_a_gothi.png
public/generated/image_2025-05-15T16-36-09-940Z_A_striking_portrait_of_a_gothi.json
public/generated/image_2025-05-15T16-36-09-940Z_A_striking_portrait_of_a_gothi.png
public/generated/image_2025-05-15T19-51-53-866Z_A_hauntingly_beautiful_succubu.json
public/generated/image_2025-05-15T19-51-53-866Z_A_hauntingly_beautiful_succubu.png
public/generated/image_2025-05-15T19-55-50-407Z_A_hauntingly_beautiful_succubu.json
public/generated/image_2025-05-15T19-55-50-407Z_A_hauntingly_beautiful_succubu.png
public/generated/image_2025-05-15T19-56-50-255Z_A_hauntingly_beautiful_succubu.json
public/generated/image_2025-05-15T19-56-50-255Z_A_hauntingly_beautiful_succubu.png
public/generated/image_2025-05-15T19-59-29-185Z_A_striking_surrealist_portrait.json
public/generated/image_2025-05-15T19-59-29-185Z_A_striking_surrealist_portrait.png
public/generated/image_2025-05-15T20-00-06-018Z_A_striking_surrealist_portrait.json
public/generated/image_2025-05-15T20-00-06-018Z_A_striking_surrealist_portrait.png
public/generated/image_2025-05-15T20-09-45-432Z_A_hyperrealistic_interpretatio.json
public/generated/image_2025-05-15T20-09-45-432Z_A_hyperrealistic_interpretatio.png
public/generated/image_2025-05-15T20-10-27-434Z_A_hyperrealistic_interpretatio.json
public/generated/image_2025-05-15T20-10-27-434Z_A_hyperrealistic_interpretatio.png
public/generated/image_2025-05-15T20-11-21-507Z_A_hyperrealistic_interpretatio.json
public/generated/image_2025-05-15T20-11-21-507Z_A_hyperrealistic_interpretatio.png
